<div class="classement-temps-reel">
    <h3>Classement en temps réel</h3>
    <!-- Tableau du classement -->
    <table class="tableau-classement">
      <thead>
        <tr>
          <th>Position</th>
          <th>Pilote</th>
          <th>Écurie</th>
          <th>Temps</th>
          <th>Ecart</th>
        </tr>
      </thead>
      <tbody>
        <!-- Boucle pour afficher les lignes du classement -->
        <tr *ngFor="let classement of classement">
          <td>{{ classement.position }}</td>
          <td>{{ classement.nom }}</td>
          <td>{{ classement.ecurie }}</td>
          <td>{{ classement.temps }}</td>
          <td>{{ classement.ecart}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  