.resultat-course {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-top: -30%;
}

.resultat-course h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.resultat-course ul {
  list-style: none;
  padding: 0;
}

.resultat-course li {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.selection-form {
  margin-bottom: 20px;
}

.selection-form label {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.selection-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

