.pilote-list {
    background-color: #1e2330;
    padding: 40px;
    color: #ffffff;
    margin-top:-30%;

  }
  
  .pilote-list h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .pilote-list li {
    background-color: #1d08080a;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .pilote-list h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff0000;
    
  }
  
  .pilote-list p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .pilote-list h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .pilote-list ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  .pilote-list ul li p {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .pilote-list li {
      width: calc(100% - 20px);
    }
  }
  