
/* Styles de base pour la barre de navigation */
.navbar {
  background-color: #333;
  border-radius: 20px; 
  padding: 10px 0; 
  text-align: center; 
  margin: 2% auto;
  max-width: 80%; /* Ajustez la largeur maximale selon vos préférences */
}

.menu {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-item {
  margin-right: 20px;
  min-width: 100px;
  display: inline-block;
}

.menu-item a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
}

.menu-item a.active {
  color: yellow; 
}

.menu-item a:hover {
  text-decoration: underline; 
}

/* Media query pour les écrans de petite taille (par exemple, les smartphones) */
@media screen and (max-width: 768px) {
  .menu-item {
      margin-right: 10px;
  }
}

/* Media query pour les écrans de très petite taille (par exemple, les smartphones en mode portrait) */
@media screen and (max-width: 480px) {
  .menu-item {
      margin-right: 0;
      margin-bottom: 10px;
      min-width: 80px;
  }
}
